@charset "UTF-8";

/* Footer */
.site-footer {
    background-color: #F5F0E180;
    text-align: center;
    font-family: Calibri;
    background-image: url(../image/waterpaper1.jpg);
}

.footer-info {
    color: #333333;
    text-align: left;
    padding-left: 175px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left p:first-child {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
    font-family: HGS行書体;
}

.footer-right {
    display: flex;
    padding-right: 15px;
    flex-direction: column;
}

.footer-copyright {
    color: #333333;
    margin-top: 20px;
    font-size: 14px;
}

.icons {
    display: flex;
    gap: 30px;
    padding-top: 25px;
    justify-content: flex-end;
}

.icons img {
    width: 25px;
    height: 25px;
}
@media screen and (max-width: 600px) {
    /* Footer調整 */
    .footer-info {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .footer-left, .footer-right {
        padding: 10px 0;
        text-align: center;
    }

    .icons {
        justify-content: center;
        gap: 15px;
    }
}