@charset "UTF-8";

.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 60px;
    background-color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 70px;
    height: auto;
}

.logo h1 a {
    margin: 0;
    font-family: HGS行書体;
    font-size: 20px;
    color: #333333;
    text-decoration: none;
    line-height: 4;
}

h1 a:hover {
    color: #d28e00;
}

.site-nav {
    display: flex;
    justify-content: center;
}

.site-nav ul {
    list-style: none;
    display: flex;
    font-family: Calibri;
    font-weight: bold;
    font-size: 23px;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.site-nav ul a {
    color: #333333;
    text-decoration: none;
    transition: color 0.2s ease;
}

.site-nav ul a:hover {
    color: #d28e00;
}

/* hide flag
.site-nav ul img {
    width: 25px;
    height: 25px;
}

.site-nav ul p {
    font-size: 15px;
    margin: 0;
}

.site-nav li {
    text-align: center;
}
*/

@media screen and (max-width: 768px) {
    .navi {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
    }

    .logo img {
        width: 60px;
        height: auto;
    }

    .logo h1 {
        width: auto;
        font-size: 18px;
    }

    .site-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        width: 100%;
    }

    .site-nav ul {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 0;
        margin: 0;
    }

    /*hide flag
    .site-nav ul:first-child {
        font-size: 18px;
    }

    .site-nav ul:last-child img {
        width: 30px;
        height: 30px;
    }*/
}